<p>Let's find your first exhibit</p>
<p>This one will drive you up the wall</p>

<form action="/guess" method="get">
  <label for="pin">Enter your guess PIN</label>
  <input type="text" name="PIN"/>
  <input type="submit" value="PIN"/>
</form>
