
<p><%= @exhibit.clue %></p>

<form action="/mositrail/try" method="get">
  <label for="pin">Enter your guess PIN</label>
  <input id="pin" type="text" name="pin"/>
  <input type="hidden" name="id" value="<%= @exhibit.id %>"/>
  <input type="submit" value="Try"/>
</form>
